/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.env
.env.backup
.env.production
moviview-api.pem
php_errors.log
/storage/*.key
